<<GeneralContainer>
  <div class="right tomster"></div>
  <h2>About Bookland</h2>
  <p>
   We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime. They’re also anchors for our downtowns and communities.
  </p>
</<GeneralContainer>